/*
  Derivated from "this alter world" made by Gerard Ferrandez
  https://codepen.io/ge1doot/pen/GQobbq
*/

body, html {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}
